.application-w {
  width: 1440px;
  margin: 0 264px 0 215px;
}
.rabot {
  width: 203px;
  height: 277px;
  background-image: url(../../../static/image/png/lemon.jpg);
  background-size: 203px 277px;
}