.header {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.2s;
  height: 106px;
}
.header:hover {
  background-color: #0B0B10;
  transition: all 0.2s;
}

.header .container {
  display: flex;
  width: 100%;
  margin-left: 80px;
  height: 106px;
}
.header-left {
  display: flex;
  align-items: center;
  height: 100%;
}
.header .header-left .logo img {
  width: 63px;
  height: 63px;
}
.header .header-left .logo-title {
  margin-left: 15px;
}
.header .header-left .logo-title p {
  width:185px;
  height:32px;
  font-size:23px;
  font-weight:normal;
  color:rgba(255,255,255,1);
  line-height:26px;
}
.header-right {
  margin-left: 245px;
  width: 800px;
}


.header-right {
  height: 100%;
}
.header-right ul li {
  list-style: none;
  display: inline-block;
  height: 100%;
  width: 159px;
  text-align: center;
  line-height: 25px;
  padding: 26px 0 36px 0;
  margin-top: 13px;
  transition: all 0.2s;
  cursor: pointer;
}
.header-right ul li:hover {
  border-bottom: 6px solid rgba(24,240,126,1);
  transition: all 0.2s;
  p {
  color:rgba(24,240,126,1);
  transition: all 0.2s;
  }
}
.header-right ul .current {
  border-bottom: 6px solid rgba(24,240,126,1);
}
.header-right ul .current p {
  color:rgba(24,240,126,1);
}
.header-right li p {
  transition: all 0.2s;
  height:25px;
  font-size:18px;
  font-family:PingFangSC-Semibold;
  font-weight:600;
  color:rgba(255,255,255,1);
  line-height:25px;
}